$animationDuration: 1.6s;

@import '../node_modules/rfs/scss';

@for $i from 1 through 10
{
    .title-#{$i}
    {
        @include font-size(#{2.2 - $i * 0.2}rem);
        font-family: 'Cinzel', serif;
    }
}

@for $i from 1 through 10
{
    .article-#{$i}
    {
        @include font-size(#{2.2 - $i * 0.2}rem);
        font-family: 'Inconsolata', monospace;
    }
}

.countdown
{
    @include font-size(3.3rem);
    font-family: 'Inconsolata', monospace;
}

.no-user-select
{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
